{
  "env": {
    "jest/globals": true,
    "node": true
  },
  "extends": [
    "plugin:flowtype/recommended",
    "plugin:jest/recommended",
    "prettier"
  ],
  "plugins": ["flowtype", "jest", "prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
