@font-face {
  font-family: Archer;
  src: url('../font/Archer.ttf');
}

html, body {
  height: 100%;
  margin: 0; padding: 0;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  font-smooth: never;
  -webkit-font-smoothing : none;
}

body {
  font-family: "Archer", "Arial";
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
}

h1 a {
  font-size: inherit;
}

#main-background {
  position: fixed;
  display: flex;
  top: 0; bottom: 0;
  left: 0; right: 0;
  z-index: -1;
  pointer-events: none;
}

#main-background .contents {
  background-position: top center;
  background-image: url('../img/map-full.png');
  background-size: cover;
  background-attachment: fixed;
}

#main-background .padding-left,
#main-background .padding-right {
  background-repeat: no-repeat;
  background-color: #140614;
  background-size: auto 100vh;
  background-attachment: local;
}

#main-background .padding-left {
  background-image: url('../img/bg-left.png');
  background-position: top right;
}
#main-background .padding-right {
  background-image: url('../img/bg-right.png');
  background-position: top left;
}


#main-wrapper {
  display: flex;
  min-height: 100%;
}

.contents {
  flex: 0 1 1024px;
}

.padding-left,
.padding-right {
  flex: 1 1 auto;
}


.card {
  margin: 40px;
  padding: 20px;
  background-color: rgba(0,0,0,0.8);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr:nth-child(even) {
  background-color: rgba(0,0,0,0.5);
}

a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

.menu a {
  margin: 5px 20px;
  text-decoration: underline;
}

input, 
button {
  font-size: 1.5em;
  text-transform: inherit;
  font-family: inherit;
  /*font-size: 1em;*/
  padding: 0.5em 0;
  color: inherit;
  display: inline-block;
  width: 90%;
  border: none;
  background: transparent;
  text-align: center;
  border-bottom: 2px solid #757575;
}

input[type=submit], button[type=submit] {
  background-color: transparent;
  background-image: url('../img/banner.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 25px 40px;
  border: none;
}

select {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  font-size: 1.5em;
  text-transform: inherit;
  font-family: inherit;
  padding: 0.5em;
  color: inherit;
  display: inline-block;
  width: 90%;
  border: none;
  background: transparent;
  text-align: center;
  border-bottom: 2px solid #757575;
}

option {
  background: rgba(0,0,0,0.8);
}

.playerName { font-size: 2em; }
.textBig { font-size: 1.5em; }
.textHuge { font-size: 3em; }
.textSmall { font-size: 0.8em; }
.textLeft { text-align: left; }
.textCenter { text-align: center; }
.textRight { text-align: right; }
.textJustify { text-align: justify; }
.alignBottom { vertical-align: bottom; }


/* Zoom Zoom */

@-webkit-keyframes zoomIn {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@-webkit-keyframes zoomOut {
  0%   { transform: scale(1); }
  50%  { transform: scale(0.9); }
  100% { transform: scale(1); }
}

input:focus, button:focus, button:hover, input:hover, a:hover, a:focus {
  outline: none;
  animation: zoomIn ease-in-out 200ms;
}

input[type=submit]:active, button:active, a:active, a:active {
  animation: zoomOut ease-in-out 200ms;
}


