<form method="POST">
  <table class="textCenter textBig">
    {{#each inputs}}
    <tr>
      <td>
        <input type="number" name="inputs[{{@index}}][ranking]" value="{{ranking}}" min="1" max="4" />
      </td>
      <td>
        <input type="textfield" name="inputs[{{@index}}][player]" placeholder="Player Name" value="{{player}}" />
      </td>
    </tr>
    {{/each}}
  </table>
  <br/>
  <div class="textCenter">
    <button type="submit">
      SAVE
    </button>
  </div>
</form>