<table>
  <tr>
    <td colspan="4"></td>
  </tr>
{{#each games}}
  <tr>
    <td class="textLeft">{{date}}</td>
    {{# each rankings }}
    <td class="textLeft">{{rank}}: <a href="/players/{{player}}">{{player}}</a></td>
    {{/each}}
  </tr>
{{/each}}
</table>