<table class="textCenter">
  <tr>
    <td colspan="4"></td>
  </tr>
{{#each games}}
  <tr>
    <td>{{date}}</td>
    {{# each rankings }}
    <td>{{rank}}: {{player}}</td>
    {{/each}}
  </tr>
{{/each}}
</table>