<table class="textCenter textBig">
{{#each scores}}
  <tr>
    <td><span>{{ @index }}</span></td>
    <td><span>{{ player }}</span></td>
    <td><span>{{ rating }}</span></td>
  </tr>
{{/each}}
</table>