<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div id="main-background">
    <div class="padding-left"></div>
    <div class="contents"></div>
    <div class="padding-right"></div>
  </div>
  <div id="main-wrapper">
    <div class="padding-left"></div>
    <div class="contents">
      <div class="card">
        <h1 class="textHuge textCenter">TOWERFALL<br/>SCORING SYSTE<a href="/altboard">M</a></h1>
        <div class="menu textCenter">
          LEADERBOARDS:
          <a class="textBig" href="/">ALL TIME</a>
          <a class="textBig" href="/weekly">WEEKLY</a>
        </div>
        <div class="menu textCenter">
          GAMES:
          <a class="textBig" href="/games">HISTORY</a>
          <a class="textBig" href="/add">+ NEW GAME</a>
        </div>
        <br/>
        <br/>
        <br/>
        {{{body}}}
      </div>
    </div>
    <div class="padding-right"></div>
  </div>
</body>
</html>